venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs / Reports
logs/
*.log

# Testing / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Distribution / Packaging
build/
dist/
*.egg-info/
